@import url("Styles/main.css");

/*navigation */
.nav-containerOne {
    justify-content: space-around;
   
}


.icon-one {
    color: var(--primary-color);
}

.icon-two {

    color: var(--secodary-color);
    transition: .3s;
}

.icon-two:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-hover);

    border-style: hidden hidden solid hidden;
}

/* header hero */

.hero-img {
    width: 17.5rem;
    color: var(--primary-color);
}

/* main-container */

.paragraph {
    max-width: 28rem;
    line-height: 1.6;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.twin-button {
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--offwhite);
    padding: .6rem;
    border-radius: 4px;
    box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, .1);
}

.btn-secondary {
    background-color: var(--secondary-color);
    padding: .65rem;
    color: var(--offwhite);
    border-radius: 4px;
    box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, .1);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
}
