body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    flex-direction: column;
}

/*navigation */
.nav-container {
    justify-content: space-between;
    max-width: 900px;
    width: 80%;
}

a {
    text-decoration: none;
}

.icon-one {
    color: var(--primary-color);
}

.icon-two {

    color: var(--secodary-color);
    transition: .3s;
}

.icon-two:hover {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-hover);

    border-style: hidden hidden solid hidden;
}

/* header hero */

.hero-img {
    max-width: 320px;

    color: var(--primary-color);
}

/* main-container */

