@import "./Styles/main.css";

/*navigation */
.nav-containerOne {
    justify-content: space-between;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-icon-left {
    color: var(--offwhite);
}

.nav-icon-right {
    color: var(--offwhite);
    transition: .8s;
}

.nav-icon-right:hover {
    border: 2px solid var(--primary-color-hover);
    border-style: hidden hidden solid hidden;
}

/* main-container */
.center-container {
    color: var(--primary-color);
    
}
.hero-img{
   max-width: 42.5rem;
}
.twin-btn{
    text-align: center;
}
.paragraph {
    max-width: 30rem;
    line-height: 1.6;
    letter-spacing: 1px;
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--offwhite);
    padding: .6rem;
    border-radius: 4px;
    box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, .1);
}

.btn-secondary {
    background-color: var(--secondary-color);
    padding: .65rem;
    color: var(--offwhite);
    border-radius: 4px;
    box-shadow: 1px 4px 2px 1px rgba(0, 0, 0, .1);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-secondary:hover {
    background-color: var(--secondary-hover);
}
/* footer */
.footer-home {
    background-color: var(--primary-color);
    padding: .8rem 1rem;
    text-align: center;
    color: var(--offwhite);
    margin-top: auto;
}


.footer-homeicon {
    color: var(--offwhite);
    transition: .3s;
}

.footer-homeicon:hover {
    color: var(--danger-color);
}