.badge_intro {
    color: var(--paragraph-color);
    letter-spacing: 1px;
    line-height: 1.3;
}

.badge_type {
    color: var(--primary-color-hover);
    letter-spacing: 1px;
    line-height: 1.3;
}

/* badge-image */
.badge_image {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 150px;
    gap: .5rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}

.badge_variant {
    position: relative;
    width: 50px;
    height: 50px;
}

.badge-green {
    height: 100%;
    width: 100%;

}

.badge-online {
    width: 10px;
    height: 10px;
    background-color: green;
    border: 2px solid var(--offwhite);
    bottom: 0;
    right: 0;
    position: absolute;

}

.badge-gray {
    height: 100%;
    width: 100%;

}

.badge-ofline {
    width: 10px;
    height: 10px;
    background-color: gray;
    border: 2px solid var(--offwhite);
    bottom: 0;
    right: 0;
    position: absolute;
}

.badge-red {
    height: 100%;
    width: 100%;
}

.badge-dnd {
    width: 10px;
    height: 10px;
    background-color: red;
    border: 2px solid var(--offwhite);
    bottom: 0;
    right: 0;
    position: absolute;
}

/* badge-text */
.badges-number {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 150px;
    gap: 1rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}

.badge {
    position: relative;
}

.badge-greenNumber{
    width: 20px;
    height: 20px;
    background-color: green;
    bottom: 1.3rem;
    left: 1.6rem;
    position: absolute;
    color: var(--offwhite);
}
.badge-rednumber{
    width: 20px;
    height: 20px;
    background-color: red;
    bottom: 1.3rem;
    left: 1.6rem;
    position: absolute;
    color: var(--offwhite);
}