.input-intro {
    color: var(--paragraph-color);
    letter-spacing: 1px;
    line-height: 1.3;
}

.input-container {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 150px;
    gap: .5rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}
/*label input */
#input-uname{
    width: 100%;
}
#input-Pass{
    width: 100%;
    border: 1px solid var(--danger-color);
}
.input-p{
    color: var(--danger-color);
}
.input-message{
    color: var(--danger-color);
}