.avatar_intro {
    color: var(--paragraph-color);
    letter-spacing: 1px;
    line-height: 1.3;
}

/* circular image */
.avatar_image {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 150px;
    gap: .5rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}

/* avatar of differnt size */
.avatar_letter{
    border: 1px solid var(--border-color);
    width: 100%;
    height: 150px;
    gap: .5rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}

.avatar_letter-s{
    background-color: var(--primary-color);
    color: var(--offwhite);
}
.avatar_letter-m{
    background-color: var(--primary-color);
    color: var(--offwhite);
}
.avatar_letter-l{
    background-color: var(--primary-color);
    color: var(--offwhite);
}

.avatar_letter-xl{
    background-color: var(--primary-color);
    color: var(--offwhite);
}