:root {
    --default-font-size: 87.5%;
    --primary-color: #1D4ED8;
    --primary-color-hover: #3B82F6;
    --secondary-color: rgba(0, 0, 0, 0.89);
    --cta-color: #1D4ED8;
    --backgournd-color: rgba(255, 255, 255, 0.931);
    --offwhite: #f5f5f5f6;
    --offwhite-hover: #f5f5f525;
    --paragraph-color: rgba(0, 0, 0, 0.609);
    --border-color: rgba(128, 128, 128, 0.513);
    --boxShadow-color: rgba(0,0,0,.1);
}
