:root {
    --primary-color: #1D4ED8;
    --primary-color-hover: #3B82F6;
    --secondary-color: rgba(0, 0, 0, 0.89);
    --secondary-hover: rgba(0, 0, 0, 0.548);
    --cta-color: #1D4ED8;
    --backgournd-color: rgb(255, 255, 255);
    --offwhite: #f5f5f5f6;
    --offwhite-hover: #f5f5f525;
    --paragraph-color: rgba(0, 0, 0, 0.609);
    --border-color: rgba(128, 128, 128, 0.513);
    --boxShadow-color: rgba(0,0,0,.1);
    --example-color: #113CFC;
    --example-background: #113cfc4b;
    --success-color: #95CD41;
    --success-background: #95cd4162;
    --warning-color: #F76E11;
    --warning-background: #f76d1171;
    --danger-color: #FF1700;
    --danger-background: #ff1500a2;
    --overlay-color: rgba(245, 245, 245, 0.801);
}
