@import "../style.css";
/* navigation */
.nav-icon{
    color: var(--offwhite);
    transition: .3s;
}
.nav-icon:hover{
    color: var(--danger-color);
}
/* center-container */
/* aside__container */

.aside__container{
    text-align: center;
    flex: 1;
}
.side_logo{
color: var(--primary-color);
transition: .3s;
}
.side_logo:hover{
    
    border: 1px solid var(--secodary-color);

    border-style: hidden hidden solid hidden;
}

/* main-container */
.main__container{
    flex: 3; 
}

.intro{
    color: var(--paragraph-color);
    line-height: 1.2;
    letter-spacing: 1px;
    
    color: (--paragraph-color);
}
span{
    color: var(--primary-color);
}

.para{
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--paragraph-color);
    
}
.reference_para{
    color: var(--paragraph-color);
    line-height: 1.2;
    letter-spacing: 1px;
}

.name_para{
    color: var(--paragraph-color);
    line-height: 1.2;
    letter-spacing: 1px; 
}