
/* navigation */
.nav__container{
    
    justify-content: space-between;
    max-width: 950px;
    width: 80%;
}

.doc_change{
    align-self: center;
}

a{
    text-decoration: none;
}

.logo__one{
    color: var(--primary-color);
}
.logo__two{
    color: var(--secodary-color);
    transition: .3s;
}

.logo__two:hover{
    background-color: var(--background-color);
    border: 1px solid var(--primary-color-hover);

    border-style: hidden hidden solid hidden;
}
.logo__three{
    color: var(--secodary-color);
}

/* center-container */
.container_aside_main{
    max-width: 1000px;
    width: 80%;
}

/* aside__container */

.aside__container{
    text-align: center;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.side_logo{
color: var(--primary-color);
transition: .3s;
}
.side_logo:hover{
    
    border: 1px solid var(--secodary-color);

    border-style: hidden hidden solid hidden;
}

/* main-container */
.main__container{
    flex: 4; 
}

.intro{
    color: var(--paragraph-color);
    line-height: 1.2;
    letter-spacing: 1px;
    border: 1px solid var(--border-color);
    border-style: hidden hidden solid hidden;
    color: (--paragraph-color);
}
span{
    color: var(--primary-color);
}

.intro_para{
    
    letter-spacing: 1px;
    color: var(--paragraph-color);
    
}
.reference_para{
    color: var(--paragraph-color);
    line-height: 1.2;
    letter-spacing: 1px;
}