.toast-intro {
    color: var(--paragraph-color);
    letter-spacing: 1px;
    line-height: 1.3;
}

.toast-container {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 18.75rem;
    gap: .5rem;
    box-shadow: 1px 2px 1px 1px var(--boxShadow-color);
    border-radius: 4px;
}

.toast-icon {
    color: var(--secondary-hover);
    transition: .3s;
}

.toast-icon:hover {
    color: var(--secondary-color);
}

.toast-btn {
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
}

/* sucess toast */
.success-toast {
    width: 40%;
    border: 1px solid var(--success-color);
    justify-content: space-between;
    background-color: var(--success-background);
}

.sucess-para {
    color: var(--success-color);
}

/* warning toast */
.warning-toast {
    width: 40%;
    border: 1px solid var(--warning-color);
    justify-content: space-between;
    background-color: var(--warning-background);
}

.warning-para {
    color: var(--warning-color);
}

/* info toast */
.info-toast {
    width: 40%;
    border: 1px solid var(--primary-color);
    justify-content: space-between;
    background-color: var(--primary-color-hover);
}

.info-para {
    color: var(--primary-color);
}

/* error toast */
.error-toast {
    width: 40%;
    border: 1px solid var(--danger-color);
    justify-content: space-between;
    background-color: var(--danger-background);
}

.error-para {
    color: var(--danger-color);
}